# Telegram
BOT_TOKEN=

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/pricehunter

# Redis
REDIS_URL=redis://redis:6379

# Admins
ADMIN_IDS=

# Logging
LOG_LEVEL=INFO

# App
DEBUG=True
PRICE_CHECK_INTERVAL=60

# AI
OPENAI_API_KEY=
