aiogram>=3.20

fastapi
uvicorn[standard]

httpx[http2]

SQLAlchemy>=2.0
asyncpg
alembic

python-dotenv

pydantic
pydantic-settings

loguru

orjson

playwright

beautifulsoup4
lxml

tenacity
aiofiles

typer>=0.16

uvloop; platform_system != "Windows"
